# Requires Python 3.10+

# Core Flask
click==8.1.7
Flask==2.3.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
Werkzeug==2.3.7

# Database
SQLAlchemy==2.0.21
Flask-SQLAlchemy==3.1.1
pymongo==4.16.0
# psycopg2-binary>=2.9.5  # Uncomment after: brew install postgresql

# Environment & Security
python-dotenv==1.0.0
Flask-Talisman
Flask-CORS

# Runtime
gunicorn==21.2.0
honcho==1.1.0

# Code quality
pylint==2.17.7
flake8==6.1.0
black==23.9.1

# Testing
pytest==7.4.2
pytest-cov==4.1.0
factory-boy==3.3.0

# Code Coverage
coverage==7.3.2

# Utilities
httpie==3.2.2