# Requires Python 3.10+

# Pin dependencies that might cause breakage
Werkzeug==2.3.7
SQLAlchemy==2.0.21

# Build dependencies
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
# psycopg2-binary>=2.9.5  # Uncomment after: brew install postgresql
python-dotenv==1.0.0
Flask-Talisman
Flask-CORS

# Runtime dependencies
gunicorn==21.2.0
honcho==1.1.0

# Code quality
pylint==2.17.7
flake8==6.1.0
black==23.9.1

# Testing dependencies
pytest==7.4.2
pytest-cov==4.1.0
factory-boy==3.3.0

# Code Coverage
coverage==7.3.2

# Utilities
httpie==3.2.2